/* Font from https://fonts.google.com/specimen/Montserrat */
@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2rem #747bff);
}

.logo.typescript:hover {
  filter: drop-shadow(0 0 2rem #2d79c7);
}

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #0f0f0f;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 3rem;
}

.row {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 3rem;
}

.title {
  font-weight: 300;
  align-items: center;
  vertical-align: middle;
  margin-top: .7rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #fff;
  transition: border-color 0.25s;
  box-shadow: 0 0.125rem 0.125rem rgb(0 0 0 / 20%);
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

#greet-input {
  margin-right: 0.3125rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #fff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}
